.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
    "nav nav nav nav"
    "adidas apple amazon beats"
    "headphones shop music shoes";
}
.adidas {
    grid-area: adidas;
}
.apple {
    grid-area: apple;
}
.beats {
    grid-area: beats;
}
.amazon {
    grid-area: amazon;
}
.shoes {
    grid-area: shoes;
}
.music {
    grid-area: music;
}
.headphones {
    grid-area: headphones;
}
.shop {
    grid-area: shop;
}


img {
    width: 100%;
    height: auto;
}

.grid-container > div {

    place-self: center;
    border: 1px solid #eee;
    padding: 3em;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo  links search";
}
.logo {
    grid-area: logo;
}
.links {
    grid-area: links;
}
.links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}
.search {
    grid-area: search;
}
.nav {
    background-color: black;
    color: #fff;
}

.nav img {
    height: 100%;
    width: auto;
}